<h2>Tags</h2><p>Filter through my logs by tag.</p>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:&#x27; &#x27; | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: &#x27;#&#x27; %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="/tag/{{ tagname }}" class="craft-icon">{{ tagname }}</a>
{% endfor %}
