<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/css/main.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{ page.url | prepend: site.site_address }}">
{% if page.title %}
<title>{{ page.title }} &middot; {{ site.site_name }}</title>
{% else %}
<title>{{ site.site_name }}</title>
{% endif %}
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.site_description | truncate: 160  }}{% endif %}" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#55d400">
<meta name="apple-mobile-web-app-title" content="{{ site.site_name }}">
<meta name="application-name" content="{{ site.site_name }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
{% if page.url == "/" and site.netlify_admin == "enabled" %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}
</head>
