<nav>
<ul class="container">
{% unless page.url == "/" %}
<li id="logo">
<a href="/">
<img src="/assets/img/{{ site.header_logo }}" alt="{{ site.site_name }} logo" width="64px" height="auto" />
</a>
</li>
{% endunless %}
{% for link in site.data.links %}
{% if page.url contains link.url %}
<li class="active">
    {{ link.name }}
</li>
{% else %}
<li>
  <a href="/{{ link.name | downcase }}/">
    {{ link.name }}
  </a>
</li>
{% endif %}
{% endfor %}
</ul>
{% if page.url == "/" %}
<br>
<a href="/manifesto.txt" title="Manifesto"><img src="/assets/img/monero-coin-2.png" width="48px" height="auto" alt="Manifesto"/></a>
{% endif %}
</nav>
