{% if paginator.total_pages &gt; 1 %}
<ul>
  {% if paginator.previous_page %}
  <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a></li>
  {% endif %}
  {% if paginator.next_page %}
  <li><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a></li>
  {% endif %}
</ul>
{% endif %}
