// Header
header {
	text-align: center;
  justify-content: center;
	nav {
		.container {  
			display: flex;  
			flex-wrap: wrap;  
			justify-content: center;
			#logo {
				@media (max-width: $break-main) {
					width: 100%;
				}
			}
			.active {
				font-size: 1.3em;
			}
			li {
				padding: 15px;
				@media (min-width: $break-main) {
					padding: 25px;
					align-self: center;
				}
				a {
					font-size: 1.3em;
					text-transform: none;
				}
			}
		}
	}
	img {
		justify-self: center;
		align-self: end;
	}
}
#home-header {
	min-height: 100vh;
	display: grid;
}
