.logs {
	text-align: center;
	padding: 5px 20px;
	li a {
		font-family: $font-main;
		font-size: 1.3em;
	}
	.tag-name a {
		color: $color-main;
		background-color: $color-alt;
		padding: 0 5px;
		font-family: $font-alt;
	}
	@media (min-width: $break-main) {
		padding: 25px 100px;
	}
}
article {
	text-align: center;
	padding: 0 20px;
	@media (min-width: $break-secondary) {
		padding: 0 200px 50px 200px;
	}
	@media (min-width: $break-alt) {
		padding: 0 400px 50px 400px;
	}
	a {
		font-size: 1em;
	}
}
.log-date {
	font-family: mono;
	font-size: 1em;
	color: #9b491b;
}
.craft-icon {
	color: $color-main;
	background-color: $color-alt;
	padding: 0 5px;
	font-family: $font-alt;
}
#filters {
	font-size: 1.3em;
}
