// Styles
// Vars
$color-main: #181313;
$color-alt: #ffa347;
$color-tertiary: #9f1b1f;
$break-main: 1200px;
$break-alt: 1800px;
$break-secondary: 800px;
$font-main: "pt_serifregular", serif;
$font-alt: "pt_serifbold", serif;
$font-secondary: "pt_serifitalic", serif;
// Fonts
@font-face {
    font-family: 'pt_serifregular';
    src: url('/assets/fonts/PTF55F-webfont.eot');
    src: url('/assets/fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/PTF55F-webfont.woff') format('woff'),
         url('/assets/fonts/PTF55F-webfont.ttf') format('truetype'),
         url('/assets/fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_serifbold';
    src: url('/assets/fonts/PTF75F-webfont.eot');
    src: url('/assets/fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/PTF75F-webfont.woff') format('woff'),
         url('/assets/fonts/PTF75F-webfont.ttf') format('truetype'),
         url('/assets/fonts/PTF75F-webfont.svg#pt_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_serifitalic';
    src: url('/assets/fonts/PTF56F-webfont.eot');
    src: url('/assets/fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/PTF56F-webfont.woff') format('woff'),
         url('/assets/fonts/PTF56F-webfont.ttf') format('truetype'),
         url('/assets/fonts/PTF56F-webfont.svg#pt_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
// General
html {
	scroll-behavior: smooth;
}
body {
	background-color: $color-main;
	color: $color-alt;
  font-family: $font-main;
  font-size: 18px;
  padding: 0 25px;
}
a {
	color: $color-alt;
	font-size: 1.3em;
	font-family: $font-alt;
}
p {
	padding: 15px 0;
	font-size: 1.3em;
	line-height: 1.2;
	color: white;
}
h1 {
	font-family: $font-alt;
	align-self: center;
	text-align: center;
	font-size: 1.3em;
	color: white;
	@media (min-width: $break-main) {
		font-size: 2em;
	}
}
h2 {
	font-family: $font-alt;
	align-self: center;
	font-size: 1.2em;
	color: white;
	@media (min-width: $break-main) {
		font-size: 1.6em;
	}
}
h3 {
	font-family: $font-alt;
	align-self: center;
	font-size: 1.1em;
	color: white;
	@media (min-width: $break-main) {
		font-size: 1.4em;
	}
}
strong {
  font-family: $font-alt;
}
em {
  font-family: $font-secondary;
}
hr {
  color: #9b491b;
}
.xmr-address {
	overflow: auto;
	white-space: nowrap;
	display: block;
}
.active {
	font-family: $font-main;
}
.email-link {
	font-size: 1.3em;
}
h1, h2, h3, h4, h5, h6 {
	padding-top: 25px;
}
ol {
  list-style: square;
  display: inline-block;
}
.pagination {
  display: -webkit-inline-box;
  margin-top: 25px;
  li {
  	margin: 0 2px;
  }
}
// Browser
body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  background: $color-main;
}
body ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  background: $color-alt;
}
body ::selection, html ::selection {
  background: 0 0;
  color: $color-tertiary;
}
code {
  font-size: 0.7em;
  font-family: monospace;
  background: #ffa347;
  padding: 2px 5px;
  color: #012d1b;
}
