<html lang="en-US">
{% include head.html %}
<body id="error"><header>
{% include nav.html %}
<article><h1>{{ page.title }}</h1><p>You&#x27;re not lost until you stop seeking for a way back home.</p></article></header></body></html>
