<html lang="en-US">
{% include head.html %}
<body><header>
{% include nav.html %}
</header><article><h1>{{ page.title }}</h1><p class="log-date" title="Log Date">
{% if page.last_modified %}v{{ page.date | date: &quot;%y.%m-%d&quot; }} ^ {{ page.last_modified | date: &quot;%y.%m-%d&quot; }}{% else %}v{{ page.date | date: &quot;%y.%m-%d&quot; }}{% endif %}
</p><div class="entry-content">
{{ content | markdownify }}
</div></article></body></html>