<html lang="en-US">
{% include head.html %}
<body><header>
{% include nav.html %}
</header>
{{ content | markdownify }}
<ul class="logs">
{% for post in paginator.posts %}
<li><a href="{{ post.url }}">
{{ post.title }}
</a><sup class="log-date" title="Log Date">
{% if post.last_modified %}v{{ post.date | date: &quot;%y.%m-%d&quot; }}^{% else %}v{{ post.date | date: &quot;%y.%m-%d&quot; }}{% endif %}
</sup>
{% unless post.tags.size == 0 %}
<sup class="tag-name"><a href="/tag/{{ post.tags[0] }}" class="tag">{{ post.tags[0] }}</a></sup>
{% endunless %}
</li>
{% endfor %}
{% if paginator.page_trail %}
<ul class="pagination">
  {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}class="selected"{% endif %}>
    		{% if page.url == trail.path %}
    		{{page.pagination_info.curr_page}}
    		{% else %}
        <a href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
    		{% endif %}
    </li>
  {% endfor %}
  <li>({{page.pagination_info.total_pages}})</li><li><a href="/tag" title="Filters">*</a></li></ul>
{% endif %}
</ul></body></html>