<html lang="en-US">
{% include head.html %}
<body><header id="home-header"><img src="/assets/img/{{ site.header_logo }}" alt="{{ site.site_name }} logo" width="360px" height="auto" /><h1>{{ site.site_heading }}</h1>
{% include nav.html %}
</header>
{% if page.url == &quot;/&quot; and site.netlify_admin == &quot;enabled&quot; %}
{% include netlify-identity.html %}
{% endif %}
</body></html>