<!doctype html>
<html lang="en-US">
{% include head.html %}
<body>
<header>
{% include nav.html %}
</header>
<article>
{% if page.url contains '/tag/' %}
{{ content | markdownify }}
{% endif %}

{% if page.url == '/craft/' %}
<h1>Craft</h1>
{{ content | markdownify }}
{% endif %}

{% if page.url == '/contact/' %}
<h1>Contact</h1>
<br>
{% if page.content == '' %}
{% if site.site_email != nil %}
<a href="mailto:{{ site.site_email }}" class="email-link">{{ site.site_email }}</a>
<p>Notifications via <a href="/sitemap.xml">RSS</a>.</p>
{% else %}
<p><code class="language-plaintext highlighter-rouge">Edit *_config.yml* or */admin* and input your own email address here.</code></p>
{% endif %}
{% if page.xmr_address != nil %}
<h3>Tips (XMR)</h3>
<br>
	<code class="language-plaintext xmr-address highlighter-rouge">{{ page.xmr_address }}</code>
	{% else %}
	<p><code class="language-plaintext highlighter-rouge">Edit *contact.md* or */admin* and input your own XMR address here.</code></p>
	{% endif %}
	<br>
	{% if page.xmr_qr != nil %}
	<img src="{{ page.xmr_qr }}" alt="XMR QR" class="xmr-qr">
	{% endif %}
<p>Thanks!</p>
{% else %}
{{ content | markdownify }}
{% endif %}
{% endif %}

{% if page.url == '/wormhole/' %}
<h1>Wormhole</h1>
{% if page.content == '' %}
<p>My contacts in the community.</p>
<ol>
{% for human in site.data.humans.items %}
<li><a href="{{ human.url }}">{{ human.name }}</a></li>
{% endfor %}
</ol>
<p>Want to be linked to this wormhole page?</p>
<p>If the <a href="/manifesto.txt">Manifesto</a> resonates and you accept XMR, contact me.</p>
{% else %}
{{ content | markdownify }}
{% endif %}
{% endif %}
</article>
</body>
</html>
