---
layout: page
---

<h1>Logs <sup class="craft-icon">{{ page.tag }}</sup></h1><ul class="logs">
{% for post in site.tags[page.tag] %}
<li><a href="{{ post.url }}">{{ post.title }}</a><sup class="log-date" title="Log Date">
{% if post.last_modified %}v{{ post.date | date: &quot;%y.%m-%d&quot; }}^{% else %}v{{ post.date | date: &quot;%y.%m-%d&quot; }}{% endif %}
</sup></li>
{% endfor %}
</ul><p>View all <a href="/tag">tags</a>.</p>
